ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(19, 66, 107);
}

ul.horizontal a.active {
    background-color: rgb(22, 117, 188);
}

li {
    float:left
}

li a {
    display: block;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(5, 40, 66);
}

.wrapper {
    position: relative;
    margin: auto;
    width: 800px;
    padding: 20px;
    justify-content: center;
}

#top {
    background-color: rgb(171, 255, 61);
    margin: 0;
}

#top h1 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#top h2 {
    padding-left: 20px;
    padding-right: 20px;
}

#subtopnav a {
    padding: 15px;
    color: white;
}

#text-container {
    background-color: white;
    margin-top: 10px;
    display: flex;
    font-size: large;

}

p {
    padding: 20px;
}

body {
    background-color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}